.sidebar {
    width: 18%;
    height: 100vh;
    background-color: #ffffff;
    border-right: 1px solid #fbfdff;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    position: fixed; /* Keeps it locked on the left */
    left: 0;
    top: 0;
    box-shadow: 0 4px 12px rgba(1, 1, 1, 0.20);
}

.logoimagenav{
    margin-left: 50px;
    width: 60px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1; /* Pushes the footer to the bottom */
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 15px;
    text-decoration: none;
    color: #64748b;
    border-radius: 12px;
    transition: all 0.3s ease;
    font-weight: 530;
    font-size: small;
    
    font-family: sans-serif;
}

.nav-item .icon {
    font-size: 20px;
}

/* Hover State */
.nav-item:hover {
    background-color: #f8fafc;
    color: #142922;
}

/* ACTIVE LINK STYLE (The professional touch) */
.nav-item.active {
    background-color: #ecfdf5;
    color: #278f2e;
}

.nav-item.active .icon {
    color: #278f2e;
}

.logout:hover {
    background-color: #fff1f2;
    color: #e11d48;
}

/* Responsive: Hide sidebar on mobile or turn into bottom nav */
@media (max-width: 500px) {
    .sidebar {
        display: none; /* We usually use a different component for mobile nav */
    }
}